POSTGRES_USER=critify
POSTGRES_PASSWORD=change-me
POSTGRES_DB=critify_db
POSTGRES_PORT=5433

APP_PORT=3000

DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=critify
DB_PASSWORD=change-me
DB_NAME=critify_db

JWT_SECRET=change-me-to-a-long-random-string
JWT_EXPIRES_IN=1h
